/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
}

/* Large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  body {
    font-size: 24px;
  }
}

a{
  text-decoration: none;
  color: #ff6c02;
}

a:hover{
  color: #ff4104;
}
p{
  color: #373737;
}
