<div class="list-articles">
  <ul>
    <li ng-repeat="article in articles" class="article">

      <div class="article-info" hide-xs>
        <h4 ng-show="article.author">{{article.author}}</h4>
        <h5 ng-show="article.date">{{article.date |date:'EEEE, MMMM d, y'}}</h5>
      </div><!--    End article info  -->

      <div class="article-body">
        <h2 ng-show="article.title">
          <a href="#article_detail" ng-click="setArticle(article)">{{article.title}}</a>
        </h2>
        <p ng-show="article.text">{{article.text | limitTo:150}}...,
          <a href="#article_detail" ng-click="setArticle(article)"> see more.</a>
        </p>
      </div><!--    End article body    -->

    </li><!--   End article   -->
  </ul>

</div><!--    End list articles   -->
