/*
* -------------------
* |  List articles  |
* -------------------
*/
.list-articles {
  padding-top: 70px;
  width: 100%;
}

.list-articles ul {
  list-style-type: none;
  padding: 0;
}

/*
* -------------
* |  Article  |
* -------------
*/
.article {
  display: -webkit-flex;
  display: flex;
  padding-bottom: 40px;
  width: 80%;
}

/*
* ------------------
* |  Article info  |
* ------------------
*/
.article-info {
  width: 20%;
  padding: 5px;
  text-align: center;
}
.article-info h4 {
  color: #4d4d4d;
}

.article-info h5 {
  color: #b4b4b4;
}

/*
* ------------------
* |  Article body  |
* ------------------
*/
.article-body {
  -webkit-flex: 1;
  flex: 1;
  padding-left: 10px;
  border-left: double #b4b4b4 2px;
}
.article-body p{
  width: 80%;
}
