<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="#/article">
		title: <input type="text" ng-model="title"><br><br>
		text: <textarea type="text" ng-model="text"></textarea><br><br>
		video url: <input type="text" ng-model="video"><br><br>
		audio url: <input type="text" ng-model="audio"><br><br>
		<button ng-click="addArticle()">add</button>
	</form>


	<ul>
		<li ng-repeat="article in articles">
		<h2 ng-show="article.title">
				<a href="#article_detail" ng-click="getArticle(article)">Title: {{article.title}}<a>
		</h2>
		<h4 ng-show="article.author">Author: {{article.author}}</h4>
		<h5 ng-show="article.date">Date: {{article.date}}</h5>
		<p ng-show="article.text">Text: {{article.text}}</p>
		<h6 ng-show="article.video">Video: <a href="{{article.video}}" target="_blank">{{article.video}}</a></h6>
		<h6 ng-show="article.audio">Audio: <a href="{{article.audio}}" target="_blank">{{article.audio}}</a></h6>
		</li>
	</ul>
	<!-- {{articles | json}} -->
</body>
</html>